[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TaxResolveR"]
	path = TaxResolveR
	url = https://github.com/prdelosriosescalante/taxresolver
